numpy
pandas >= 1.0
scipy
matplotlib  # newer versions might break circleci `implement_array_function method already has a docstring` bug with later versions installed (on 2020-07-28)
seaborn
# xlrd>=1.0.0 (As of Dec 2020, xlsx not supported)
tqdm
sphinxcontrib-apidoc
m2r
nbsphinx
sphinx
ipykernel
joblib
xlsxwriter # for bead array
openpyxl # pandas xlsx support changed to use this
